body{
    margin:0;
    font-family: Arial, sans-serif;
    background-color:#272b233f;
}

header{
    background-color:#004d4d;
    color:white;
    text-align:center;
    padding:10px;
}

.contenedor{
    max-width:1200px;
    margin:40px auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(450px,1fr));
    gap:30px;
}

section{
    background:rgb(118, 153, 54);
    border-radius:10px;
    padding:20px;
    box-shadow:0 4px 8px rgba(0,0,0,.15);
}

section h2{
    color:#004d4d;
    text-align: center;
}

video,
audio,
iframe{
    width:100%;
}